@charset "utf-8";

*
{
	margin:  0;
	padding: 0;
}

html, body
{
	height: 600px;
}

form
{
	padding-bottom: 10px;
}

form fieldset
{
	margin-top:   1em;
	border-style: none;
}

form fieldset label,
form fieldset input[type='text']
{
	display: block;
	width:   100%;
}

form fieldset label
{
	margin-bottom: 0.5em;
}

form fieldset ul
{
	display: block;
	width:   100%;
}

form fieldset.footer
{
	text-align: right;
}

form fieldset.footer input
{
	display: inline-block;
	width:   100px;
}
